img{
    float: left   ;
}
form{
    font-family:  Haettenschweiler
}
footer{
    float: left;
    clear:both;
    background-color: aqua;
}
section div form{
    clear:right;
    border: 1px solid black;
    padding: 10px;
    float: left;
}
h4{
    font-family:  'Times New Roman', Times, serif;
    font-weight: normal;
}